<!DOCTYPE html>
<html lang="fr">

<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords"
    content="romain boudet, développeur web, développeur, développeur montpellier, développeur javascript, montpellier ">
  <meta name="description"
    content="Portfolio Romain Boudet, Développeur Web, Développeur à Montpellier, a la recherche d'un emploi">

  <link rel="shortcut icon" type="images/ico" href="/images/RB.png" />


  <!-- space invader only -->

  <title>404 - Page non trouvée</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" nonce="<%=locals.nonce%>"
    crossorigin="anonymous">

  <style>
    body {
      padding-top: 30px;
      height: 100%;
      background: #282828;
      background: url(/images/voie-lactee-ciel.jpg);
      background-size: cover;
    }

    canvas {
      margin: 0 auto 0 auto !important;
      width: 2000px
    }

    .modal-backdrop {
      background-color: #4F030B;
      opacity: 0.9 !important;
    }

    .center {
      text-align: center
    }

    #space-invaders {
      margin: 0 auto;
      display: block;
    }


    .modal {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }
    }

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }

    .wrap {
      margin: 25px;
    }

    #fade {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 0;
      margin: 0;
      border: 0;
      position: absolute;
      overflow: hidden;
      left: 0px;
      top: 0px;
      display: block;
    }

    .cont {
      margin: 10% auto 0 auto;
      width: 300px;
      height: 300px;
      background-color: #FFF;
      -moz-box-shadow: 0 0 100px 1px #444;
      -webkit-box-shadow: 0 0 100px 1px #444;
      font-size: 20px;
    }
  </style>
</head>

<body>


  <div class="container-wide micro-padding-bottom">
    <div class="row text-center">
      <div class="col-sm-2">
        <a href="https://romainboudet.fr"><img class="img-fluid" style="max-width: 60%;
          height: auto;" src="/images/RB.png" /></a>
      </div>
      <div class="col-sm-10">
        <h1 class="p-4 fw-bold" style="color: #9d7d07; margin-right: 20rem; font-size: 4rem;">404 - Page Not Found</h1>
        <p class="text-white fw-bold fs-4" style="margin-right: 20rem;">Utilisez <span
            class="badge bg-danger text-white">Espace</span> pour tirer et <span class="badge bg-danger"> ⬅️ </span>
          <span class="badge bg-danger"> ➡️ </span> pour
          vous déplacer !&#160;&#160;&#160;<button class="btn btn-success btn-sm" id="restart">Recommencez</button></p>
      </div>
    </div>
  </div>

  <div style="padding-bottom:5px">
    <div class="col-sm-12 text-center">

      <h2 style="color: #c2ff66; font-size: 40px" class="text-center pt-4">Harg !!! Les space-invaders ont envahit cette page, repoussez-les !</h2>
      <button id="back" style="all: unset; cursor: pointer;">
        <h3 class="mb-5" style="color: #c2ff66; text-decoration: none; border-bottom: 1px dotted #fff">(Ou fuyez comme
          un lâche...)</h3>
      </button>
      <script src="/js/back.js" nonce="<%=locals.nonce%>" crossorigin="anonymous"></script>
    </div>
  </div>

  <div id="gameFinished" class="modal fade" role="dialog" style="opacity: 1;" > <!-- ajout de la class "in" passe l'opacity a 1 sur ancienne version de boostrap -->
    <div class="modal-dialog text-center text-white" > 
      <h1 class="text-center text-white" style="font-size: 100px; z-index: 10000;">Vous avez perdu !</h1>
      <h3 class="small-padding-bottom text-white text-center" id="totalpoints"></h3>
      <h2 class="text-white text-center" id="message">Faite plus de 1000 points pour rentrer dans l'histoire !</h2>
      <div class="text-center">
        <button type="button" id="modalrestart" class="btn btn-success aligncenter text-center"
          style="display: inline-block;" data-dismiss="modal">Réessayer</button>
       
          <a class="btn btn-success aligncenter text-center" href="https://romainboudet.fr"
          style="display: inline-block;">Revenir sur la page principale</a>
      </div>

    </div>
  </div>


  <div id="lifelost"
    style="overflow: none; width: 100%; height: 100%; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 10000; background-color: rgba(255,0,0,0.5); display: none">
  </div>
  <div id="levelup"
    style="overflow: none; width: 100%; height: 100%; padding-top: 20%; padding-bottom: 20%; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 10000; background-color: rgba(0,200,0,0.8); display: none">
    <h1 style="font-size: 100px" class="textaligncenter text-white">Bien joué !</h1>
    <h2 class="textaligncenter text-white">Vous avez gagné une vie supplémentaire. Soyez prêt pour le prochain niveau
    </h2>
  </div>


  <canvas id="space-invaders">

    <script src="/js/invader.js" nonce="<%=locals.nonce%>" crossorigin="anonymous"></script>

  </canvas>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" nonce="<%=locals.nonce%>"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" nonce="<%=locals.nonce%>"
    crossorigin="anonymous"></script>
</body>

</html>