<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords"
    content="romain boudet, développeur web, développeur, développeur montpellier, développeur javascript, montpellier ">
  <meta name="description"
    content="Portfolio Romain Boudet, Développeur Web, Développeur à Montpellier, a la recherche d'un emploi">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    nonce="<%=locals.nonce%>" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/style.css" nonce="<%=locals.nonce%>" crossorigin="anonymous">

  <link rel="shortcut icon" type="images/ico" href="/images/RB.png" />

  <title>Romain BOUDET - Développeur Backend </title>
</head>

<body id="body">
  <!-- HEADER -->
  <header id="header">
    <nav id="navbar" class="navbar header navbar-inverse navbar-fixed-top align-items-center">
      <div class="container-fluid" id="navbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="navbar">
          <button type="button" class="navbar-toggle collapsed " id="dlDropDown" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo navbar-brand" href="#"><img src="/images/RB.png" alt="logo Romain Boudet" /></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="download" href="#presentation">Qui suis-je ?</a></li>
            <li><a class="download" href="#projets">Portfolio</a></li>
            <li><a class="download" href="#contact">Contact</a></li>
            <li><a class="download" href="#resume">CV</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>




  </header>

  <!-- on fait apparaitre une information dans le cas de l'envoi d'un email ! -->

  <!-- SECTION 1 -->

  <section id="first-section" class="first-section">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <a href="#presentation">
          <h2>Romain BOUDET</h2>
          <h1>Développeur Web Backend</h1>
        </a>
      </div>
    </div>
  </section>


  <% if (locals.errorMail) {%>
  <div class="bandeau bandeauerror"><%= errorMail %></div>
  <% } %>

  <% if (locals.info) {%>
  <div class="bandeau bandeaudivinfo"><%= info %></div>
  <% } %>

  <% if (locals.errorGeneral) {%>
  <div class="bandeau bandeauerror"><%= errorGeneral %></div>
  <% } %>

  <% if (locals.errorTextArea) {%>
  <div class="bandeau bandeauerror"><%= errorTextArea %></div>
  <% } %>


  <!-- SECTION QUI SUIS JE? -->
  <section id="presentation" class="culture-section2 container">
    <!--<i class="fa fa-spinner fa-5px fa-pulse"></i>-->
    <div id="projet">
      <div class="titreProjets col-md-offset-2 col-md-8 col-md-offset-2  ">
        <h2 class="text-capitalize">QUI SUIS-JE ?</h2>
      </div>

      <!-- Presentation -->
      <div class="col-md-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <div class="presentation col-xl-10  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
          <p> &emsp; Après des expériences enrichissantes dans le domaine de l'écologie scientifique, je me reconvertis
            aujourd'hui dans le <strong>Développement Web</strong> et plus particuliérement dans le
            developpement d'API.
            Curieux des nouvelles technologies depuis longtemps, j'ai obtenu en juillet 2021 mon diplôme de
            <strong>Développeur Web et Web Mobile</strong> au sein de l'<a href="https://oclock.io/" target="_blank"
              rel="nofollow noreferrer noopener">école O'Clock</a> labellisée Grande Ecole du Numérique
            via une
            formation fullstack JS.
            Je suis à la recherche d'<strong>opportunités professionnelles </strong> dès Janvier 2022.<br />
            Motivé et désireux d’apprendre, je suis ouvert à de multiples technologies.
            Vous trouverez sur ce site des informations sur les compétences que je peux mettre à votre service, sur mes
            outils de travail ainsi que des exemples de réalisations.
            Bonne visite !
            <br>
            <div class="quote">
              <q cite="">Choisissez un travail que vous aimez
                et vous n'aurez pas à travailler un seul jour de votre vie.</q> — Confucius
            </div>
          </p>
        </div>
      </div>

    </div>
  </section>

  <!-- SECTION 2 Projets -->
  <section id="projets" class="culture-section container">
    <div class="titreProjets col-md-offset-2 col-md-8 col-md-offset-2  ">
      <h2 class="text-capitalize">PORTFOLIO</h2>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">


      <!-- projet MJC -->
      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox" class="boxmjc col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>API Club de jeux</h3>
          <h4 class="description">Développement d'une API pour un club de jeux d'une MJC. </h4>
          <div id="list">
            <ul>
              <li>Base de données : PostgreSQL</li>
              <li>Création du MCD / MLD: Mocodo</li>
              <li>Création des wireFrames: Whimsical</li>
              <li>Langages utilisés : SQL, JavaScript</li>
              <li>Framework utilisé : Express</li>
              <li>Architecture : Active Record</li>


            </ul>
          </div>
          <div class="boutton-details">
            <a class="police" href="https://github.com/RomainBoudet/MJC" style="text-decoration: none;" target="_blank"
              nonce="<%=locals.nonce%>" crossorigin="anonymous">
              <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;" nonce="<%=locals.nonce%>"
                crossorigin="anonymous">Consulter le code sur GitHub <svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="icongithub bi bi-github" viewBox="0 0 16 16">
                  <path
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>


      <!-- projet Cadex -->
      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox" class="boxcadex col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>Cadex</h3>
          <h4 class="description">Développement d'une API web <br /> pour la construction d'un cadavre <br /> Exquis
            aléatoire</h4>
          <div id="list">
            <ul>
              <li>Base de données : PostgreSQL</li>
              <li>Environnement de travail : Node.js</li>
              <li>Langages utilisés : SQL, JavaScript, HTML, CSS</li>
              <li>Framework utilisé : Express</li>
              <li>Architecture : Active Record</li>
              <li>Serveur web : Nginx</li>
              <li>Hébergement : AWS</li>
            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/cadex" style="text-decoration: none; font-size: 0.3rem;"
                target="_blank">
                <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem; ">Consulter le code de <br>
                  l'API sur GitHub
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="icongithub bi bi-github" viewBox="0 0 16 16">
                    <path
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                  </svg>
                </button>
              </a>
            </div>
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/cadex_front" style="text-decoration: none;" target="_blank">
                <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem; ">Consulter le code du <br>
                  Front sur GitHub <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="icongithub bi bi-github" viewBox="0 0 16 16">
                    <path
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                  </svg>
                </button>
              </a>
            </div>

            <div class="boutton-details">
              <a href="https://cadex-front.romainboudet.fr/v1/cadex/particles" style="text-decoration: none;"
                target="_blank">
                <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem; ">Consulter le <br>projet en
                  ligne <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="icongithub bi bi-server" viewBox="0 0 16 16">
                    <path
                      d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
                    <path
                      d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
                    <path
                      d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
                  </svg>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- projet Kanban -->
      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox" class="boxkanban col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>Kanban</h3>
          <h4 id="description">Réalisation d'un front en JS vanilla<br /> pour la réalisation d'un Kanban
            (rédaction de ToDo list)</h4>
          <div id="list">
            <ul>
              <li>Base de données : PostgreSQL</li>
              <li>Création du MCD / MLD: Mocodo</li>
              <li>Environnement de travail : Node.js</li>
              <li>Langages utilisés : HTML, CSS, JavaScript</li>
              <li>Framework utilisé : Express</li>
              <li>Serveur web : Nginx</li>
              <li>Hébergement : OVH</li>
            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/Kanban" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="icongithub bi bi-github" viewBox="0 0 16 16">
                      <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                  </button>

                </div>
              </a>
            </div>

            <div class="boutton-details">
              <a href="https://apikanban.romainboudet.fr/" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le projet en ligne
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-server" viewBox="0 0 16 16">
                      <path
                        d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
                      <path
                        d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
                      <path
                        d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
                    </svg>
                  </button>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>




      <!-- projet E-Commerce -->
      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox" class="boxcommerce col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>API E-commerce</h3>
          <h4 class="description">Développement d'une API pour un site de e-commerce <br> avec intégration de STRIPE
            (paiement carte, SEPA, remboursement)
            et TWILLIO, gestion des statuts de commandes, des stocks, édition des factures... </h4>
          <div id="list">
            <ul>
              <li>Base de données : PostgreSQL, REDIS</li>
              <li>Création du MCD / MLD: JMerise</li>
              <li>Environnement de travail : Node.js</li>
              <li>Langages utilisés : JavaScript</li>
              <li>Framework utilisé : Express</li>
              <li>Architecture : Active Record</li>
              <li>Serveur web : Nginx</li>

            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/Madagascar/" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="icongithub bi bi-github" viewBox="0 0 16 16">
                      <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                  </button>

                </div>
              </a>
            </div>

            <div class="boutton-details">
              <a href="https://artisanat-madagascar.art/api-docs" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le projet en ligne
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-server" viewBox="0 0 16 16">
                      <path
                        d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
                      <path
                        d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
                      <path
                        d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
                    </svg>
                  </button>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>

      <!-- The Quizz -->
      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox"
          class="boxquizz col-xl-offset-0 col-xl-10 col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12"
          data-bs-target="">
          <h3>The Quiz</h3>
          <h4 class="description">Développement d'un site de quiz (reset du mot de passe, double authentification...)
          </h4>
          <div id="list">
            <ul>
              <li>Base de données : PostgreSQL, via sequelize (ORM)</li>
              <li>Création du MCD / MLD: Mocodo</li>
              <li>Environnement de travail : Node.js</li>
              <li>Langages utilisés : JavaScript, HTML, CSS</li>
              <li>Framework utilisé : Express</li>
              <li>Architecture : Active Record</li>
              <li>Serveur web : Nginx</li>
            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/Kanban" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="icongithub bi bi-github" viewBox="0 0 16 16">
                      <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                  </button>

                </div>
              </a>
            </div>

            <div class="boutton-details">
              <a href="https://quiz.romainboudet.fr/" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le projet en ligne
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-server" viewBox="0 0 16 16">
                      <path
                        d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
                      <path
                        d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
                      <path
                        d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
                    </svg>
                  </button>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox"
          class="boxquizz col-xl-offset-0 col-xl-10 col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12"
          data-bs-target="">
          <h3>Site de présentation</h3>
          <h4 class="description">Développement d'un site vitrine de présentation
          </h4>
          <div id="list">
            <ul>
              <li>Framework CSS : Boostrap</li>
              <li>Environnement de travail : Node.js</li>
              <li>Langages utilisés : JavaScript, CSS, HTML</li>
              <li>Framework Node.js utilisé : Express</li>
              <li>Architecture : Active Record</li>
              <li>Base de données : Mongo (<a href="https://romainboudet.fr/404">404 😉</a> )</li>
              <li>Serveur web : Nginx</li>
            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/web_presentation" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="icongithub bi bi-github" viewBox="0 0 16 16">
                      <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                  </button>

                </div>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox"
          class="boxquizz col-xl-offset-0 col-xl-10 col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12"
          data-bs-target="">
          <h3>Pokedex</h3>
          <h4 class="description">
          </h4>
          <div id="list">
            <ul>
              <li>Framework CSS : Boostrap</li>
              <li>Environnement de travail : Node.js</li>
              <li>Langages utilisés : JavaScript, CSS, HTML</li>
              <li>Framework Node.js utilisé : Express</li>
              <li>Architecture : Datamapper</li>
              <li>Base de données : Mongo (framework aggregate)</li>
              <li>Serveur web : Nginx</li>
            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/pokedex_mongo" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="icongithub bi bi-github" viewBox="0 0 16 16">
                      <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                  </button>

                </div>
              </a>
            </div>
            <div class="boutton-details">
              <a href="https://pokedex.romainboudet.fr/" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le projet en ligne
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-server" viewBox="0 0 16 16">
                      <path
                        d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
                      <path
                        d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
                      <path
                        d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
                    </svg>
                  </button>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox"
          class="boxquizz col-xl-offset-0 col-xl-10 col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12"
          data-bs-target="">
          <h3>Convertisseur de devises <small>(pour la pratique)</small></h3>
          <h4 class="description">Une app pour convertir des devises en React
          </h4>
          <div id="list">
            <ul>
              <li>library Front : React</li>
              <li>Langages utilisés : JavaScript, SCSS, HTML</li>
              <li>State a partir d'une class, Hook à venir...</li>
              <li>Transpilation : Babel</li>
              <li>Bundle module : Webpack</li>
              <li>Préprocesseur CSS : Sass</li>
              <li>Gestionnaire de paquet: Yarn</li>
              <li>Linter: esLint avec le modèle <a href="https://www.npmjs.com/package/eslint-config-airbnb">airbnb</a>
              </li>
              <li>Serveur web : Nginx</li>
            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/converter" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="icongithub bi bi-github" viewBox="0 0 16 16">
                      <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                  </button>

                </div>
              </a>
            </div>
            <div class="boutton-details">
              <a href="https://converter.romainboudet.fr/" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le projet en ligne
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-server" viewBox="0 0 16 16">
                      <path
                        d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
                      <path
                        d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
                      <path
                        d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
                    </svg>
                  </button>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox" class="boxkanban col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>todo-list en React <small>(pour la pratique)</small> </h3>
          <h4 id="description">Réalisation d'une todo-list en REACT</h4>
          <div id="list">
            <ul>
              <li>library Front : React</li>
              <li>Langages utilisés : JavaScript, SCSS, HTML</li>
              <li>State a partir d'une class, Hook à venir...</li>
              <li>Transpilation : Babel</li>
              <li>Bundle module : Webpack</li>
              <li>Préprocesseur CSS : Sass</li>
              <li>Gestionnaire de paquet: Yarn</li>
              <li>Linter: esLint avec le modèle <a href="https://www.npmjs.com/package/eslint-config-airbnb">airbnb</a>
              </li>
              <li>Serveur web : Nginx</li>
              <li>Hébergement : OVH</li>
            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/to_do_list" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="icongithub bi bi-github" viewBox="0 0 16 16">
                      <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                  </button>

                </div>
              </a>
            </div>

            <div class="boutton-details">
              <a href="https://todo-list.romainboudet.fr/" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le projet en ligne
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-server" viewBox="0 0 16 16">
                      <path
                        d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
                      <path
                        d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
                      <path
                        d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
                    </svg>
                  </button>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox" class="boxkanban col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>Blog <small>(pour la pratique)</small> </h3>
          <h4 id="description">Réalisation d'un blog factice en REACT</h4>
          <div id="list">
            <ul>
              <li>library Front : React</li>
              <li>Langages utilisés : JavaScript, SCSS, HTML</li>
              <li>Hooks, React Router V6, domPurify</li>
              <li>Transpilation : Babel</li>
              <li>Bundle module : Webpack</li>
              <li>Préprocesseur CSS : Sass</li>
              <li>Gestionnaire de paquet: Yarn</li>
              <li>Linter: esLint avec le modèle <a href="https://www.npmjs.com/package/eslint-config-airbnb">airbnb</a>
              </li>
              <li>Serveur web : Nginx</li>
              <li>Hébergement : OVH</li>
            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/blog" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="icongithub bi bi-github" viewBox="0 0 16 16">
                      <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                  </button>

                </div>
              </a>
            </div>

            <div class="boutton-details">
              <a href="https://blog.romainboudet.fr/" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le projet en ligne
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-server" viewBox="0 0 16 16">
                      <path
                        d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
                      <path
                        d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
                      <path
                        d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
                    </svg>
                  </button>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>



      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox" class="boxkanban col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>API-Blog <small>(pour la pratique)</small> </h3>
          <h4 id="description">Réalisation d'une APi délivrant des articles pour un front en REACT</h4>
          <div id="list">
            <ul>
              <ul>
                <li>Base de données : PostgreSQL, REDIS (mise en cache)</li>
                <li>Création du MCD / MLD: Mocodo</li>
                <li>Environnement de travail : Node.js</li>
                <li>Langages utilisés : JavaScript, HTML, CSS</li>
                <li>Framework utilisé : Express</li>
                <li>Paquets npm secondaire : Joi, Validator, Helmet(sécurité), Fastest-levenshtein, swagger-jsdoc</li>
                <li>Documentation: JSdoc et YAML, compatible standart OpenAPI Specification V3 pour doc Swagger </li>
                <li>Architecture : Active Record (full ESM)</li>
                <li>Serveur web : Nginx</li>
              </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/api-blog" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="icongithub bi bi-github" viewBox="0 0 16 16">
                      <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                  </button>

                </div>
              </a>
            </div>

            <div class="boutton-details">
              <a href="https://api-blog.romainboudet.fr/" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le projet en ligne
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-server" viewBox="0 0 16 16">
                      <path
                        d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
                      <path
                        d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
                      <path
                        d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
                    </svg>
                  </button>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox" class="boxkanban col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>Find your repo ! <small>(pour la pratique)</small> </h3>
          <h4 id="description">Réalisation d'un front qui utilise l'API GitHub pour rechercher des repositories</h4>
          <div id="list">
            <ul>
              <li>library Front : React</li>
              <li>Langages utilisés : JavaScript, SCSS, HTML</li>
              <li>Hooks, Axios, react-spinners, pagination</li>
              <li>Framework CSS : Semantic UI</li>
              <li>Transpilation : Babel</li>
              <li>Bundle module : Webpack</li>
              <li>Préprocesseur CSS : Sass</li>
              <li>Gestionnaire de paquet: Yarn</li>
              <li>Linter: esLint avec le modèle <a href="https://www.npmjs.com/package/eslint-config-airbnb">airbnb</a>
              </li>
              <li>Serveur web : Nginx</li>
              <li>Hébergement : OVH</li>
            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/github" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="icongithub bi bi-github" viewBox="0 0 16 16">
                      <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                  </button>

                </div>
              </a>
            </div>

            <div class="boutton-details">
              <a href="https://github.romainboudet.fr/" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le projet en ligne
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-server" viewBox="0 0 16 16">
                      <path
                        d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
                      <path
                        d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
                      <path
                        d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
                    </svg>
                  </button>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>

  </section>


  <!--SECTION 5 CV en HTML CSS -->
  <section id="resume" class="culture-section2 container">
    <div class="container">
      <h2 class="text-capitalize">CV</h2>
      <div class="cvHtml col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="diplomeFormationCompetence">
          <div class="col-sm-7">
            <h3>Diplômes et Formations</h3>
            <hr class="hr_type3">
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre text-sm-center">Développeur</p>
                    <p class="annee sm-text-xs-center">07/2021</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <a class="logo navbar-brand" href="https://oclock.io/"><img src="/images/ministere_travail.png"
                        alt="logo Ecole O'Clock" target="_blank" /></a>
                    <p class="titreStyle">Validation du Titre Profesionnel Developpeur Web et Web mobile</p>
                    <p><a href="https://oclock.io/formations/developpeur-web-fullstack-javascript" target="_blank"
                        rel="nofollow noreferrer noopener">Ecole O'Clock</a> / <a
                        href="https://romainboudet.fr/dossier_de_projet" target="_blank">Dossier de projet</a> pour le
                      passage du titre.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre text-sm-center">Etudiant Développeur</p>
                    <p class="annee sm-text-xs-center">11/2020 - 06/2021</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <a class="logo navbar-brand" href="https://oclock.io/"><img src="/images/oclock.jpeg"
                        alt="logo Ecole O'Clock" target="_blank" /></a>
                    <p class="titreStyle">Formation Fullstack JavaScript</p>
                    <p><a href="https://oclock.io/formations/developpeur-web-fullstack-javascript" target="_blank"
                        rel="nofollow noreferrer noopener">Ecole
                        O'Clock</a> / Spécialisation Data - API
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre sm-text-center">Etudiant Développeur</p>
                    <p class="annee sm-text-center">04/2021</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <a target="_blank" class="logo navbar-brand"
                      href="https://www.opquast.com/rendre-le-web-meilleur/"><img src="/images/opquast.jpeg"
                        alt="logo Opquast" /></a>
                    <p class="titreStyle">Certification OPQUAST Maitrise de la qualité en projet Web</p>
                    <p>Bonnes pratiques et prise en compte de la diversité et des éxigences des utilisateurs <small><em>
                          <a href="https://directory.opquast.com/fr/certificat/LOC08G/" target="_blank"
                            rel="nofollow noreferrer noopener">(certificat)
                          </a></em></small>.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre sm-text-center">Etudiant Développeur</p>
                    <p class="annee sm-text-center">01/2020</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <a class="logo navbar-brand" href="https://www.ssi.gouv.fr/"><img src="/images/anssi.jpeg"
                        alt="logo Opquast" target="_blank" /></a>
                    <p class="titreStyle2">MOOC <a
                        href="https://www.ssi.gouv.fr/actualite/secnumacademie-le-nouvelle-formation-en-ligne-met-la-cybersecurite-a-la-portee-de-tous/"
                        target="_blank" rel="nofollow noreferrer noopener">SecNumAcademie</a> (ANSSI)</p>
                    <p>Panorama de la SSI, sécurité de l'authentification, sécurité sur internet, sécurité du poste de
                      travail et
                      nomadisme <small><em> <a href="http://romainboudet.fr/secnumacademie" target="_blank"
                            rel="nofollow noreferrer noopener">(certificat)
                          </a></em></small>.</p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre sm-text-center">Master IEGB </p>
                    <p class="annee sm-text-center">2012 - 2014</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <p class="titreStyle"> Master Ingénierie en Ecologie et Gestion de la Biodiversité.</p>
                    <p>Faculté des Sciences / CNRS - Montpellier</p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre sm-text-center">BEES 1er degré</p>
                    <p class="annee sm-text-center">2007 - 2010</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <p class="titreStyle2">BREVET D'ETAT D'EDUCATEUR SPORTIF (BEES), Accompagnateur en Moyenne Montagne
                    </p>
                    <p> DDJS Grenoble</p>
                  </div>
                </div>
              </li>
            </ul>
            <h3>Expériences Professionnelles</h3>
            <hr class="hr_type3">
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre">Informatique / Développement</p>
                    <p class="annee">2021</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <p class="titreStyle">Réalisation d'une API de e-commerce</p>
                    <ul>
                      <li> Environnement Node.js</li>
                      <li> Framework Express</li>
                      <li> BDD : PostagreSQL, REDIS</li>
                      <li> Test unitaire : Mocha, Chai</li>
                      <li> Git et GitHub</li>
                      <li> Paiement: STRIPE</li>
                      <li> Twilio</li>
                      <li> Deploiement: OVH, Nginx, PM2</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre">Informatique / Développement</p>
                    <p class="annee">2021</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <p class="titreStyle">projet de developpement perso</p>
                    <p>MJC
                      <ul>
                        <li> - Développement d'une application REACT / Node.js</li>
                      </ul>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre">Projet personnel</p>
                    <p class="annee">2018 - 2020</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <p class="titreStyle">long Voyage</p>
                    <p> USA (Californie), Polynésie Francaise, Nouvelle Zélande, Australie
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <ul>
                          <li> - Perfectionnement de la langue anglaise</li>
                          <li> - Nombreux métiers pratiqués</li>
                        </ul>
                      </div>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre sm-text-center">Administratif / Comptabilité</p>
                    <p class="annee sm-text-center">2016 - 2018</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <p class="titreStyle">Technicien environnement</p>
                    <p>Conservatoire du Littoral / Communauté de Communes de Belle île en Mer</p>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <ul>
                        <li> - Cartographie des milieux</li>
                        <li> - Traitement de données statistiques</li>
                        <li> - Travaux d"aménagements</li>
                        <li> - Recensement d'espèces</li>
                        <li> - Sensibilisation</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-lg-offset-1 col-sm-5 col-xs-12">
            <div class="competences col-sm-12 col-xs-6">
              <h3>Compétences</h3>
              <hr class="hr_type2">
              <ul>
                <li>Javascript</li>
                <li>Programmation Orientée Objet</li>
                <li>Node.js (Express) / REACT en cours d'apprentissage</li>
                <li>Git & Github</li>
                <li>SQL / PostgreSQL / MongoDB</li>
                <li>HTML5 / CSS3</li>
                <li>AWS / NGINX / PM2</li>
                <li>Postman / PgAdmin 4 / MongoSH</li>
              </ul>
            </div>
            <div class="atouts col-sm-12 col-xs-6">
              <h3>Atouts</h3>
              <hr class="hr_type2">
              <ul>
                <li> - Persévérant</li>
                <li> - Polyvalent</li>
                <li> - Rigoureux</li>
                <li> - Organisé</li>
                <li> - Esprit d'équipe</li>
                <li> - Sens relationnel</li>
                <li> - Ponctuel</li>
              </ul>
            </div>
            <div class="divers col-sm-12 col-xs-12">
              <h3>Divers</h3>
              <hr class="hr_type2">
              <ul>
                <li>Sport (escalade, natation)</li>
                <li>Voyages :
                  <ul>
                    <li> - Pacifique (Autralie, Nouvelle-Zélande, <br> &ensp; Fidji)</li>
                    <li> - Russie, Mongolie</li>
                    <li> - Afrique de l'Ouest</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sm-text-center">
      <div class="button_cont" align="center" class="cv">
        <button class="boutton_cv" target="_blank" rel="nofollow noreferrer noopener"><a
            href="http://romainboudet.fr/cv" rel="nofollow noreferrer noopener" target="_blank"
            nonce="<%=locals.nonce%>" crossorigin="anonymous" style="text-decoration: none; color: white;">
            Visualiser mon CV en
            PDF <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="iconpdf bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
              <path class="iconpath"
                d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
              <path class="iconpath" fill-rule="evenodd"
                d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
            </svg></a></button>


      </div>
    </div>
  </section>

  <!-- SECTION 3 Contact -->
  <section id="contact" class="culture-section3">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h2 style="padding: 2rem;">CONTACTEZ MOI</h2>
      </div>


      <form action="/" method="POST">
        <div class="mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="Votre email">
        </div>
        <!-- si erreur d'email !-->
        <% if (locals.errorMail) {%>
        <div class="bandeau error"><%= errorMail %></div>
        <% } %>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"></label>
          <textarea class="form-control" id="textArea" data-bs-toggle="tooltip"
            title="Avant l'envoi, Votre message sera chiffré avec le protocole PGP. Si votre email est intercépté sur le réseau, il ne sera pas lisible."
            name="textArea" rows="5" placeholder="Votre message"></textarea>
        </div>
        <!-- si erreur du contenu du message  !-->
        <% if (locals.errorTextArea) {%>
        <div class="bandeau error"><%= errorTextArea %></div>
        <% } %>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="copy" name="copy" value="true">
          <label class="form-check-label" for="flexSwitchCheckDefault">Je souhaite recevoir une copie de ce message sur
            mon email.</label>
        </div>

        <button class="btn btn-sm sendmail" data-bs-toggle="tooltip"
          title="Vous pouvez envoyer un maximum de 5 emails par jours. Avant l'envoi, Votre message sera chiffré avec le protocole PGP. Si votre email est intercépté sur le réseau, il ne sera pas lisible."
          type="submit" style=" font-size:1.6rem; color: white;  background-color: rgb(73, 43, 43);
        "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-file-earmark-lock-fill" viewBox="0 0 16 16">
            <path class="iconpath iconpathlock" d="M7 7a1 1 0 0 1 2 0v1H7V7z" />
            <path class="iconpath iconpathlock"
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM10 7v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V9.3c0-.627.46-1.058 1-1.224V7a2 2 0 1 1 4 0z" />
          </svg> Envoyer<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon bi bi-send-fill"
            viewBox="0 0 16 16">
            <path class="iconpath"
              d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
          </svg>
        </button>

        <% if (locals.errorGeneral) {%>
        <div class="bandeau error"><%= errorGeneral %></div>
        <% } %>

        <% if (locals.info) {%>
        <div class="bandeau info"><%= info %></div>
        <% } %>
      </form>


      <div class="col-xs-12">

        <div id="contactBox" class="col-md-8 col-md-offset-2 ">

          <div id="adress" class="col-xs-6">
            <dl class="contact">
              <dt>
                <h4>Contact</h4>
              </dt>
              <hr class="hr">
              <dd>Nom : Romain Boudet</dd>
              <br>
              <a href="https://www.linkedin.com/in/romain-boudet/" target="_blank"><img class="logo-contact"
                  alt="logo linkedin" src="images/icons-linkedin.png" /></a>
              <a class="github" href="https://github.com/RomainBoudet" target="_blank"><img class="logo-contact"
                  alt="logo github" src="images/github.png" /></a>
            </dl>
          </div>

          <div id="adress" class="col-xs-6">
            <dl class="contact">
              <dt>
                <h4>Adresse</h4>
              </dt>
              <hr class="hr">
              <dd>34000 MONTPELLIER</dd><br>
              <dd>FRANCE</dd>
            </dl>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- BOUTTON RETOUR VERS LE HAUT -->
  <div><a id="cRetour" class="cInvisible" href="#header"></a></div>

  <!-- FOOTER -->
  <nav id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="text-center">
      <a class="" href="#">Copyright 2022</a>
    </div>
    <div class="text-center"><a href="https://romainboudet.fr/404"> <img src="/images/invader2.gif" alt="invader igf">
      </a></div>
  </nav>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" nonce="<%=locals.nonce%>"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" nonce="<%=locals.nonce%>"
    crossorigin="anonymous"></script>
  <script src="/js/bundle.js" nonce="<%=locals.nonce%>" crossorigin="anonymous"></script>

</body>

</html>

<!-- https://icons.getbootstrap.com/ -->