<!DOCTYPE html>
<html lang="fr">

<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords"
    content="romain boudet, développeur web, développeur, développeur montpellier, développeur javascript, montpellier ">
  <meta name="description"
    content="Portfolio Romain Boudet, Développeur Web, Développeur à Montpellier, a la recherche d'un emploi">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    nonce="<%=locals.nonce%>" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css" nonce="<%=locals.nonce%>" crossorigin="anonymous">
  <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="<%=locals.nonce%>" crossorigin="anonymous"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" integrity="<%=locals.nonce%>" crossorigin="anonymous"> -->
  <link rel="shortcut icon" type="images/ico" href="/images/RB.png" />

  <title>Romain BOUDET - Développeur Backend </title>
</head>

<body id="body">
  <!-- HEADER -->
  <header id="header">
    <nav id="navbar" class="navbar header navbar-inverse navbar-fixed-top align-items-center">
      <div class="container-fluid" id="navbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="navbar">
          <button type="button" class="navbar-toggle collapsed " id="dlDropDown" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo navbar-brand" href="#"><img src="/images/RB.png" alt="logo Romain Boudet" /></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="download" href="#presentation">Qui suis-je ?</a></li>
            <li><a class="download" href="#projets">Portfolio</a></li>
            <li><a class="download" href="#contact">Contact</a></li>
            <li><a class="download" href="#resume">CV</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <!-- SECTION 1 -->

  <section id="first-section" class="first-section">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <a href="#presentation">
          <h2>Romain BOUDET</h2>
          <h1>Développeur Web Backend</h1>
        </a>
      </div>
    </div>
  </section>

  <!-- SECTION QUI SUIS JE? -->
  <section id="presentation" class="culture-section2 container">
    <!--<i class="fa fa-spinner fa-5px fa-pulse"></i>-->
    <div id="projet">
      <div class="titreProjets col-md-offset-2 col-md-8 col-md-offset-2  ">
        <h2 class="text-capitalize">QUI SUIS-JE ?</h2>
      </div>

      <!-- Presentation -->
      <div class="col-md-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <div class="presentation col-xl-10  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
          <p> &emsp; Après des expériences enrichissantes dans le domaine de l'écologie scientifique, je me reconvertis
            aujourd'hui dans le <strong><em>Développement Web</em></strong> et plus particuliérement dans le
            developpement d'API.
            Curieux des nouvelles technologies depuis longtemps, j'ai obtenu en juillet 2021 mon diplôme de
            <strong><em>Développeur Web et Web Mobile</em></strong> au sein de l'<a href="https://oclock.io/"
              target="_blank" rel="nofollow noreferrer noopener">école O'Clock</a> labellisée Grande Ecole du Numérique
            via une
            formation fullstack JS.
            Je suis à la recherche d'<strong>opportunités professionnelles dans les environs de
              Montpellier</strong> dès Janvier 2021.<br />
            Motivé et désireux d’apprendre, je suis ouvert à de multiples technologies.
            Vous trouverez sur ce site des informations sur les compétences que je peux mettre à votre service, sur mes
            outils de travail ainsi que des exemples de réalisations.
            Bonne visite !
            <br>
            <div class="quote">
              <q cite="">Choisissez un travail que vous aimez
                et vous n'aurez pas à travailler un seul jour de votre vie.</q> — Confucius
            </div>
          </p>
        </div>
      </div>

    </div>
  </section>

  <!-- SECTION 2 Projets -->
  <section id="projets" class="culture-section container">
    <div class="titreProjets col-md-offset-2 col-md-8 col-md-offset-2  ">
      <h2 class="text-capitalize">PORTFOLIO</h2>
    </div>
    <div class="col-sm-12 col-xs-10">


      <!-- projet MJC -->
      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>API Club de jeux</h3>
          <h4 class="description">Développement d'une API pour un club de jeux d'une MJC. </h4>
          <div id="list">
            <ul>
              <li>Base de données : PostgreSQL</li>
              <li>Création du MCD / MLD: Mocodo</li>
              <li>Création des wireFrames: Whimsical</li>
              <li>Langages utilisés : SQL, JS</li>
              <li>Framework utilisé : Express</li>
              <li>Architecture : Active Record</li>
              <br>
              <br>

              <br>
              <br>

            </ul>
          </div>
          <div class="boutton-details">
            <a class="police" href="https://github.com/RomainBoudet/MJC" style="text-decoration: none;" target="_blank">
              <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
              </button>
            </a>
          </div>
        </div>
      </div>


      <!-- projet Cadex -->
      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>Cadex</h3>
          <h4 class="description">Développement d'une API web <br /> pour la construction d'un cadavre <br /> Exquis
            aléatoire</h4>
          <div id="list">
            <ul>
              <li>Base de données : PostgreSQL</li>
              <li>Environnement de travail : Node.js</li>
              <li>Langages utilisés : SQL, JavaScript, Html, CSS</li>
              <li>Framework utilisé : Express</li>
              <li>Architecture : Active Record</li>
              <li>Serveur web : Nginx</li>
              <li>Hébergement : AWS</li>
            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/cadex" style="text-decoration: none; font-size: 0.3rem;"
                target="_blank">
                <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem; ">Consulter le code de <br>
                  l'API sur GitHub
                </button>
              </a>
            </div>
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/cadex_front" style="text-decoration: none;" target="_blank">
                <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem; ">Consulter le code du <br>
                  Front sur GitHub
                </button>
              </a>
            </div>

            <div class="boutton-details">
              <a href="https://cadex-front.romainboudet.fr/v1/cadex/particles" style="text-decoration: none;"
                target="_blank">
                <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem; ">Consulter le <br>projet en
                  ligne
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- projet Kanban -->
      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>Kanban</h3>
          <h4 id="description">Réalisation d'un front en JS vanilla<br /> pour la réalisation d'un Kanban
            (rédaction de ToDo list)</h4>
          <div id="list">
            <ul>
              <li>Base de données : PostgreSQL</li>
              <li>Création du MCD / MLD: Mocodo</li>
              <li>Environnement de travail : Node.js</li>
              <li>Langages utilisés : Html, CSS, JavaScript</li>
              <li>Framework utilisé : Express</li>
              <li>Serveur web : Nginx</li>
              <li>Hébergement : OVH</li>
              <br>
              <br>


            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/Kanban" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                  </button>

                </div>
              </a>
            </div>

            <div class="boutton-details">
              <a href="https://apikanban.romainboudet.fr/" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le projet en ligne
                  </button>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>




      <!-- projet E-Commerce -->
      <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="projetsBox" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>API E-commerce</h3>
          <h4 class="description">Développement d'une API pour un site de e-commerce <br> avec intégration de STRIPE
            (paiement carte, SEPA, remboursement)
            et TWILLIO, gestion des statuts de commandes, des stocks, édition des factures... </h4>
          <div id="list">
            <ul>
              <li>Base de données : PostgreSQL, REDIS</li>
              <li>Création du MCD / MLD: JMerise</li>
              <li>Environnement de travail : Node.js</li>
              <li>Langages utilisés : JavaScript</li>
              <li>Framework utilisé : Express</li>
              <li>Architecture : Active Record</li>
              <li>Serveur web : Nginx</li>

            </ul>
          </div>
          <div class="containerButtons">
            <div class="boutton-details">
              <a href="https://github.com/RomainBoudet/Madagascar/" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                  </button>

                </div>
              </a>
            </div>

            <div class="boutton-details">
              <a href="https://artisanat-madagascar.art/api-docs" style="text-decoration: none;" target="_blank">
                <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                  <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le projet en ligne
                  </button>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- The Quizz -->
    <div id="projetsBoxParent" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div id="projetsBox"
        class="col-xl-offset-0 col-xl-10 col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12"
        data-bs-target="">
        <h3>The Quizz</h3>
        <h4 class="description">Développement d'un site de quiz</h4>
        <div id="list">
          <ul>
            <li>Base de données : PostgreSQL, via sequelize (ORM)</li>
            <li>Création du MCD / MLD: Mocodo</li>
            <li>Environnement de travail : Node.js</li>
            <li>Langages utilisés : JavaScript</li>
            <li>Framework utilisé : Express</li>
            <li>Architecture : Active Record</li>
            <li>Serveur web : Nginx</li>
            <br>
            <br>
            <br>
          </ul>
        </div>
        <div class="containerButtons">
          <div class="boutton-details">
            <a href="https://github.com/RomainBoudet/Kanban" style="text-decoration: none;" target="_blank">
              <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le code sur GitHub
                </button>

              </div>
            </a>
          </div>

          <div class="boutton-details">
            <a href="https://quiz.romainboudet.fr/" style="text-decoration: none;" target="_blank">
              <div style="display: flex; flex-direction: row; justify-content:center; align-items:center;  ">
                <button class="btn btn-slider2 btn-primary" style="margin-bottom: 0rem;">Consulter le projet en ligne
                </button>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!--SECTION 5 CV en HTML CSS -->
  <section id="resume" class="culture-section2 container">
    <div class="container">
      <h2 class="text-capitalize">CV</h2>
      <div class="cvHtml col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="diplomeFormationCompetence">
          <div class="col-sm-7">
            <h3>Diplômes et Formations</h3>
            <hr class="hr_type3">
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre text-sm-center">Etudiant Développeur</p>
                    <p class="annee sm-text-xs-center">11/2020 - 06/2021</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <a class="logo navbar-brand" href="https://oclock.io/"><img src="/images/oclock.jpeg"
                        alt="logo Ecole O'Clock" target="_blank" /></a>
                    <p class="titreStyle">Formation Fullstack JavaScript</p>
                    <p><a href="https://oclock.io/formations/developpeur-web-fullstack-javascript" target="_blank"
                        rel="nofollow noreferrer noopener">Ecole
                        O'Clock</a> / Spécialisation Data - API
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre sm-text-center">Etudiant Développeur</p>
                    <p class="annee sm-text-center">04/2021</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <a target="_blank" class="logo navbar-brand"
                      href="https://www.opquast.com/rendre-le-web-meilleur/"><img src="/images/opquast.jpeg"
                        alt="logo Opquast" /></a>
                    <p class="titreStyle">Certification OPQUAST Maitrise de la qualité en projet Web</p>
                    <p>Bonnes pratiques et prise en compte de la diversité et des éxigences des utilisateurs <small><em>
                          <a href="https://directory.opquast.com/fr/certificat/LOC08G/" target="_blank"
                            rel="nofollow noreferrer noopener">(certificat)
                          </a></em></small>.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre sm-text-center">Etudiant Développeur</p>
                    <p class="annee sm-text-center">01/2020</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <a class="logo navbar-brand" href="https://www.ssi.gouv.fr/"><img src="/images/anssi.jpeg"
                        alt="logo Opquast" target="_blank" /></a>
                    <p class="titreStyle2">MOOC <a
                        href="https://www.ssi.gouv.fr/actualite/secnumacademie-le-nouvelle-formation-en-ligne-met-la-cybersecurite-a-la-portee-de-tous/"
                        target="_blank" rel="nofollow noreferrer noopener">SecNumAcademie</a> (ANSSI)</p>
                    <p>Panorama de la SSI, sécurité de l'authentification, sécurité sur internet, sécurité du poste de
                      travail et
                      nomadisme <small><em> <a href="http://romainboudet.fr/secnumacademie" target="_blank"
                            rel="nofollow noreferrer noopener">(certificat)
                          </a></em></small>.</p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre sm-text-center">Master IEGB </p>
                    <p class="annee sm-text-center">2012 - 2014</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <p class="titreStyle"> Master Ingénierie en Ecologie et Gestion de la Biodiversité.</p>
                    <p>Faculté des Sciences / CNRS - Montpellier</p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre sm-text-center">BEES 1er degré</p>
                    <p class="annee sm-text-center">2007 - 2010</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <p class="titreStyle2">BREVET D'ETAT D'EDUCATEUR SPORTIF (BEES), Accompagnateur en Moyenne Montagne
                    </p>
                    <p> DDJS Grenoble</p>
                  </div>
                </div>
              </li>
            </ul>
            <h3>Expériences Professionnelles</h3>
            <hr class="hr_type3">
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre">Informatique / Développement</p>
                    <p class="annee">2020</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <p class="titreStyle">Réalisation d'une API de e-commerce</p>
                    <p>
                      <ul>
                        <li> Environnement Node.js</li>
                        <li> Framework Express</li>
                        <li> BDD : PostagreSQL, REDIS</li>
                        <li> Test unitaire : Mocha, Chai</li>
                        <li> Git et GitHub</li>
                        <li> Paiement: STRIPE</li>
                        <li> Twilio</li>
                        <li> Déploiement: OVH, Nginx, PM2</li>
                      </ul>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre">Informatique / Développement</p>
                    <p class="annee">2020</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <p class="titreStyle">projet de developpement perso</p>
                    <p>MJC
                      <ul>
                        <li> - Développement d'une application REACT / Node.js</li>
                      </ul>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre">Projet personnel</p>
                    <p class="annee">2018 - 2020</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <p class="titreStyle">long Voyage</p>
                    <p> USA (Californie), Polynésie Francaise, Nouvelle Zélande, Australie
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <ul>
                          <li> - Perfectionnement de la langue anglaise</li>
                          <li> - Nombreux métiers pratiqués</li>
                        </ul>
                      </div>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row cadre">
                  <div class="col-sm-4 col-xs-12">
                    <p class="titreStyle titre sm-text-center">Administratif / Comptabilité</p>
                    <p class="annee sm-text-center">2016 - 2018</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <p class="titreStyle">Technicien environnement</p>
                    <p>Conservatoire du Littoral / Communauté de Communes de Belle île en Mer</p>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <ul>
                        <li> - Carthographie des milieux</li>
                        <li> - Travaux d"aménagements</li>
                        <li> - Recensement d'espéces</li>
                        <li> - Sensibilisation</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-lg-offset-1 col-sm-5 col-xs-12">
            <div class="competences col-sm-12 col-xs-6">
              <h3>Compétences</h3>
              <hr class="hr_type2">
              <ul>
                <li>Javascript</li>
                <li>Programmation Orientée Objet</li>
                <li>Node.js (Express) / REACT en cours d'apprentissage</li>
                <li>Git & Github</li>
                <li>SQL / PostgreSQL / MongoDB</li>
                <li>HTML5 / CSS3</li>
                <li>AWS / NGINX / PM2</li>
              </ul>
            </div>
            <div class="atouts col-sm-12 col-xs-6">
              <h3>Atouts</h3>
              <hr class="hr_type2">
              <ul>
                <li> - Persévérant</li>
                <li> - Polyvalent</li>
                <li> - Rigoureux</li>
                <li> - Organisé</li>
                <li> - Esprit d'équipe</li>
                <li> - Sens relationnel</li>
                <li> - Ponctuel</li>
              </ul>
            </div>
            <div class="divers col-sm-12 col-xs-12">
              <h3>Divers</h3>
              <hr class="hr_type2">
              <ul>
                <li>Sport (escalade, natation)</li>
                <li>Voyages :
                  <ul>
                    <li> - Pacifique (Autralie, Nouvelle-Zélande, <br> &ensp; Fidji)</li>
                    <li> - Russie, Mongolie</li>
                    <li> - Afrique de l'Ouest</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sm-text-center">
      <div class="button_cont" align="center" class="cv">
        <button class="boutton_cv" target="_blank" rel="nofollow noreferrer noopener"><a
            href="http://romainboudet.fr/cv" rel="nofollow noreferrer noopener" target="_blank"
            nonce="<%=locals.nonce%>" crossorigin="anonymous" style="text-decoration: none; color: white;">
            Visualiser mon CV en
            PDF </a></button>

      </div>
    </div>
  </section>

  <!-- SECTION 3 Contact -->
  <section id="contact" class="culture-section3">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h2 style="padding: 2rem;">CONTACTEZ MOI</h2>
      </div>


      <form action="/" method="POST">
        <div class="mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="Votre email">
        </div>
        <!-- si erreur d'email !-->
        <% if (locals.errorMail) {%>
        <div class="error"><%= errorMail %></div>
        <% } %>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"></label>
          <textarea class="form-control" id="textArea" name="textArea" rows="5" placeholder="Votre message"></textarea>
        </div>
        <!-- si erreur du contenu du message  !-->
        <% if (locals.errorTextArea) {%>
        <div class="error"><%= errorTextArea %></div>
        <% } %>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="copy" name="copy" value="true">
          <label class="form-check-label" for="flexSwitchCheckDefault">Je souhaite recevoir une copie de ce message sur
            mon email.</label>
        </div>
        <button class="btn btn-sm sendmail" type="submit" style=" color: white;  background-color: rgb(73, 43, 43);
        ">Envoyer</button>

        <!-- Si tout va bien ou si une érreur survient lors de l'envoi-->

        <% if (locals.errorGeneral) {%>
        <div class="error"><%= errorGeneral %></div>
        <% } %>

        <% if (locals.info) {%>
          <div class="info"><%= info %></div>
          <% } %>
      </form>


      <div class="col-xs-12">

        <div id="contactBox" class="col-md-8 col-md-offset-2 ">

          <div id="adress" class="col-xs-6">
            <dl class="contact">
              <dt>
                <h4>Contact</h4>
              </dt>
              <hr class="hr">
              <dd>Nom : Romain Boudet</dd>
              <dd>
                Email :
                <a href="mailto:romain&#64;boudet.me">romain@boudet.me</a>
              </dd>
              <dd>Téléphone : 06-03-72-06-12</dd>
              <a href="https://www.linkedin.com/in/romain-boudet/" target="_blank"><img class="logo-contact"
                  alt="logo linkedin" src="images/icons-linkedin.png" /></a>
              <a class="github" href="https://github.com/RomainBoudet" target="_blank"><img class="logo-contact"
                  alt="logo github" src="images/github.png" /></a>
            </dl>
          </div>

          <div id="adress" class="col-xs-6">
            <dl class="contact">
              <dt>
                <h4>Adresse</h4>
              </dt>
              <hr class="hr">
              <dd>34000 MONTPELLIER</dd><br>
              <dd>FRANCE</dd>
            </dl>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- BOUTTON RETOUR VERS LE HAUT -->
  <div><a id="cRetour" class="cInvisible" href="#header"></a></div>

  <!-- FOOTER -->
  <nav id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="text-center">
      <a class="" href="#">Copyright 2022</a>
    </div>
  </nav>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" nonce="<%=locals.nonce%>"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" nonce="<%=locals.nonce%>"
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.5.0/jquery.flexslider-min.js"
    nonce="<%=locals.nonce%>" crossorigin="anonymous"></script> -->
  <!--   <script src="script.js" nonce="<%=locals.nonce%>" crossorigin="anonymous"></script>
 -->
  <script src="bundle.js" nonce="<%=locals.nonce%>" crossorigin="anonymous"></script>

</body>

</html>